<!DOCTYPE html>

<html xmlns:th="https://ww.thymeleaf.org">
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">

        <h2>Datos de  categorias</h2>
        <a th:href="@{/categoria/listado}">Regresar</a>
        <br>
        <hr>
        <form th:action="@{/categoria/gaurdar}"
              method="post"
              th:object="${categoria}">
            <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/>
          
            <label for="descripcion">Descripcion:</label>
            <input type="text" name="descripcion" th:field="*{descripcion}"/>
            <br>         
            <hr>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>

        <footer th:replace="layout/plantilla :: footer"/>




    </body>
</html>
